body {
    text-align: center;
    background-color:  #FEC06F;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    overflow-y: auto;
}
h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    text-align: left;
    margin-left: 3em;
}
p {
    font-size: large;
}

footer {
    position: relative;
    margin-top: 10rem;
    left: 1em;
    bottom: 0;
}

.textField {
    width: 90%;
    height: 5em;
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    box-shadow: 8px 8px 5px gray;
    margin: auto;
    font-size: medium;
}

#aboutDiv {
    margin: 9rem auto;
    padding: auto;
    text-align: left;
    width: 50%;
    height: auto;
}

#writtenAbout {
    padding: 1.5rem;
}

.aboutSection {
    font-size: large;
    margin: auto;
    padding: 5px;
}

input::placeholder {
    position: fixed;
    top: 0;
}

#generate {
    font-size: medium;
    height: 3em;
    width: 8em;
    margin: 3em;
    padding: auto;
    border: 2px solid black;
    border-radius: 5%;
    box-shadow: 5px 5px 3px gray;
}

#generate:hover {
    cursor: pointer;
}

#generatedResult {
    min-height: 100px;
    resize:vertical;
    overflow-y: hidden;
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
    border: 1px solid #ccc;
    border-radius: 8px;
  }

#portfolioLink {
    color: black;
    text-decoration: none;
}

#portfolioLink:hover {
    font-weight:600;

}

.loader {
    margin: 3rem auto;
    border: 7px solid #f3f3f3;
    border-top: 7px solid black;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  