body {
    text-align: center;
    background-color:  #fcf3cf;
    font-family:'Courier New', Courier, monospace;
    box-sizing: border-box;
    overflow-y: auto;
}
h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    text-align: left;
    margin-left: 3em;
}
p {
    font-size: large;
}

footer {
    margin-top: 10rem;
    left: 1em;
    bottom: 0;
}

.textField {
    width: 90%;
    height: 5em;
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    box-shadow: 8px 8px 5px gray;
    margin: auto;
    font-size: medium;
}

input::placeholder {
    position: fixed;
    top: 0;

}

#generate {
    font-size: medium;
    height: 3em;
    width: 8em;
    margin: 3em;
    padding: auto
}

#generatedResult {
    min-height: 100px;
    resize: none;
    
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  